$color-white: #fff;
$color-black: #000;
$color-bg-white: #fff;
$color-red: #e75353;
$color-header: #1A1A1A;
$color-bg-notice: #EAF7EE;
$color-bg-errors: #E2CFD1;
$color-bg-errors_item: #b4031a;
$color-border-notice: #b0e0c0;
$color-bg-icon-check: #3DBC5F;