<% if notice %>
  <div class="notice">
    <div class="icon-container">
      <i class="ri-checkbox-circle-fill check"></i>
    </div>
    <p>
      <%= notice %>
    </p>
  </div>
<% end %>
<header class="header">
  <ul>
    <li>
      <h1><%= link_to "Depot Store", products_path %></h1>
    </li>
    <li><%= link_to "Añadir", new_product_path %></li>
  </ul>
</header>

<div id="products" class="products">
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
</div>

