<header class="header">
  <ul>
    <li>
      <h1><%= link_to "Depot Store", products_path %></h1>
    </li>
  </ul>
</header>
<div class="form_container">
  <%= render "form", product: @product %>
</div>
